@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "prism-okaidia.css";

// Put your styles here
@bar: #3F4449;
@bg: #E7E7E7;
@mainbg: #D3D6DB;
@maintxt: #8C90A2;
@h2: rgb(97, 122, 145);

body {
  background-color: @bg;
}
iframe {
  border: none;
}
h1,h2,h3,h4 {
  padding-top: 60px;
  margin-top: -35px;
}
code {
  color: #646464;
  background-color: #f5f5f5;
}
.jumbotron {
  background-color: @mainbg;
  color: @maintxt;
  margin-top: 30px;
}
.navbar-inverse {
  background-color: @bar;
}
.affix-top,.affix{
  position: static;
}
#sidebar {
  .nav {
    margin-left: 2em;
    font-size: .85em;
  }
}
@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top:30px;
    width:228px;
  }

  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }

  h2 {
    color: @h2;
    font-size: 35px;
  }
  h3 {
    border-bottom: 1px solid black;
    font-size: 22px;
    padding-bottom: 2px;
    code {
      font-size: 60%;
    }
  }
  #sidebar li.active > a {
    border:0 @mainbg solid;
    border-right-width:4px;
  }
}
@media (max-width: 500px) {
  h3 {
    code {
      font-size: 40%;
    }
  }
  code {
    font-size: 55%;
    white-space: normal;
  }
}
