<a name="home"></a>
.jumbotron
  .container
    .row
      .col-md-7
        h1
          img(src='img/title.png', alt='The Mock Couch')
          p.lead Mock a CouchDB server for unit testing CouchDB based apps.
          p
            a(href='https://travis-ci.org/chris-l/mock-couch')
              img(src='https://travis-ci.org/chris-l/mock-couch.png?branch=master')
      .col-md-5
        img(src='img/mock-couch.svg', alt='A photo of a Mock Couch', title='"It\'s the thing Mock Couch Soup is made from," said the Queen.')
.container
  .row
    #leftCol.col-md-3
      ul#sidebar.nav.nav-stacked
        li
          a(href='#about') About
        li
          a(href='#installation') Installation
        li
          a(href='#create') Create an Instance
        li
          a(href='#methods') Methods
          ul
            li
              a(href='#listen') listen
            li
              a(href='#close') close
            li
              a(href='#addDB') addDB
            li
              a(href='#addDoc') addDoc
        li
          a(href='#properties') Properties
          ul
            li
              a(href='#databases') databases
        li
          a(href='#views') Views
        li
          a(href='#events') Events
        li
          a(href='#license') License
    .col-md-9
      != partial('/_content/txt')
